.main-visual__image {
  width: 100%;
  height: 650px;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.heading__title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.heading__lead {
  font-size: 20px;
  color: #fafafa;
}