@media screen and (max-width:768px) {
  body {
    width: 100%;
    display: block;
  }

  .header {
    height: 50px;
  }

  .header__inner {
    width: 90%;
  }

  h1 .header__logo {
    height: 50px;
    margin-top: 3px;
  }

  .header__link {
    display: none;
  }

  #hamburger {
    background-color: transparent;  /*透明の背景*/
    border: 2px solid white;
    position: relative;             /*ハンバーガーの横線の位置を決めるための基準*/
    cursor: pointer;                /*リンクを示すカーソルを表示（指差しマーク）*/
    margin: 5px 0 5px auto;             /*左側に余白を作り、ハンバーガーメニューを右端に配置*/
    height: 40px;                   /*ヘッダーの高さと同じ60px*/
    width: 40px;                    /*高さと同じ幅*/
  }

  .icon span {
    position: absolute;       /*親要素である#hamburgerを基準に位置を指定*/
    left: 3px;               /*#hamburger内の左がら15pxに横線を配置（幅が60pxなので右からも15px）*/
    width: 30px;              /*横線の幅が30px*/
    height: 4px;              /*横線の高さが4px*/
    background-color: white;  /*横線を白色*/
    border-radius: 8px;       /*横線の両端の角に丸みを持たせる*/
    transition: ease 0.75s;   /*変化の時間（easeは初期値）*/
  }

    .icon span:nth-of-type(1) {
    top: 7px;
  }
  .icon span:nth-of-type(2) {
    top: 16px;
  }
  .icon span:nth-of-type(3) {
    bottom: 7px;
  }

  .heading {
    width: 90%;
    margin: 0 auto;
  }

  .main-visual__image {
    background-image: url(../img/code.png);
  }
  
  .heading__title {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .heading__lead {
    font-size: 18px;
  }

  .container:nth-child(1) {
    margin-top: -10px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;
  }

  .section {
    display: block;
  }

  .portfolio {
    display: block;
    width: 100%;
  }

  .portfolio__image:nth-child(odd) {
    display: none;
  }

  .portfolio__image:nth-child(even) {
    margin: 10px auto 0;
  }

  .portfolio__image:nth-child(1) {
    margin-top: 0;
  }


  .container__inner {
    display: block;
    width: 100%;
  }

  .feature {
    width: 90%;
    margin: 10px auto 0;
  }

  .feature:nth-child(1) {
    margin-top: 0;
  }

  .profile {
    display: block;
  }

  .profile__image {
    width: 90%;
    margin: 0 auto;
  }

  .profile-body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .profile-body__title {
    margin: 20px auto 5px;
  }

  .contact {
    display: block;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form__inner {
    text-align: center;
  }
  .contact-form__info {
    margin: 5px auto 20px;
  }

  .contact-sns {
    width: 90%;
    margin: 0 auto 5px;
  }
  .contact-sns__title {
    text-align: center;
  } 

  .sns-icons {
    justify-content: center;
  }

}