main {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
}

.section--grey {
  background-color: #cccecf;
}

.container-heading {
  text-align: center;
  margin-top: 90px;
}

.container-heading__line {
  width: 70px;
}

.container-heading__title {
  font-size: 32px;
  color: #000000;
  padding: 8px auto;
  
}
