main {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
}

.section--grey {
  background-color: #cccecf;
}

.container {
  margin: 90px auto;
}

.container-heading {
  text-align: center;
}

.container-heading__line {
  width: 70px;
  margin: 0 auto;
  border-bottom: 3px solid #ec715f ;
}

.container-heading__title {
  margin: 8px auto;
  
}

.container-heading__title h2 {
  font-size: 32px;
  color: #000000;
}

.container-heading__text {
  margin: 30px auto;
}

.portfolio {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}

.portfolio__image:nth-child(-n+3) {
  margin-top: 0;;
}

.portfolio__image:nth-child(3n) {
  margin-right: 0;
}

.portfolio__image:nth-child(1) {
  background-image: url(../img/sketch.jpg);
}

.portfolio__image:nth-child(2) {
  background-image: url(../img/websuku.png);
}

.portfolio__image:nth-child(3) {
  background-image: url(../img/write.jpg);
}

.portfolio__image:nth-child(4) {
  background-image: url(../img/webcamp.png);
}

.portfolio__image:nth-child(5) {
  background-image: url(../img/talk.jpg);
}

.portfolio__image:nth-child(6) {
  background-image: url(../img/webcamp-mother.png);
}

.container__inner {
  width: 980px;
  display: flex;
  flex-direction: row;
}

.feature {
  width: 320px;
  margin-right: 10px;
  text-align: center;
}

.feature:nth-child(3) {
  margin-right: 0;
}

.feature__icon .fas, .fa-solid {
  font-size: 60px;
}

.feature__title {
  margin: 10px auto;
}

.feature__title h3 {
  font-size: 20px;
}

.feature__text {
  text-align: left;
}

