main {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
}

.section--grey {
  background-color: #cccecf;
}

.container-heading {
  text-align: center;
  margin-top: 90px;
}

.container-heading__line {
  width: 70px;
  margin: 0 auto;
  border-bottom: 3px solid #ec715f ;
}

.container-heading__title {
  margin: 8px auto;
  
}

.container-heading__title h2 {
  font-size: 32px;
  color: #000000;
}

.container-heading__text {
  margin: 30px auto;
}
